<div class="content">

  <div class="body">
    <h1 class="mat-h1">haus23.net
      <small>Webseite der Freunde der Marie 23</small>
    </h1>
    <p>
      Früher war hier viel los: Forum, Chat, Tipprunde. Übrig
      geblieben ist die Tipprunde - leider zur Zeit ohne Online-Präsenz.
      Forum und Chat sind verwaist.
    </p>
    <p>
      Viel schlimmer noch trifft es unser Wohnzimmer der Stadt
      selbst zur Zeit. Aktuelle behördliche Regelungen machen es
      leider unmöglich die Kneipe wirtschaftlich zu betreiben.
    </p>
    <p>
      Früher habe ich oft gescherzt, dass dies hier der virtuelle
      Tresen unserer Kneipe ist. Den Stammplatz in der Kneipe vermisse
      ich mehr als die hier nicht mehr vorhandenen Aktivitäten.
    </p>
    <p>
      Euer Micha
    </p>
    <p>
      PS: Die Tipprunde kommt wieder.
    </p>
    <p>
      PPS: Das Menu oben ist nur Show ;-)
    </p>
  </div>

  <svg class="angle" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="25,0 75,0 50,100 0,100" />
  </svg>

  <div class="marie">
    <img src="/assets/marie.jpg">
  </div>
</div>
